CLI_PROXY_IMAGE=misonl/cliproxyapi:__VERSION__
CLI_PROXY_CONTAINER_NAME=cliproxyapi

CLI_PROXY_PUBLIC_PORT=8317

DEPLOY=
MANAGEMENT_STATIC_PATH=/workspace/static
USAGE_BACKUP_DIR=/workspace/usage-backups
TZ=Asia/Shanghai
